* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  margin: auto;
}

header {
  background-color: #05182f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header #frontIcons a {
  padding: 12.5px 45px;
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

header #frontIcons a:first-child {
  background-color: #1e3044;
}

header #frontIcons a img {
  vertical-align: text-bottom;
  margin-right: 5px;
}

header #backIcons a {
  padding: 14px 45px;
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

header #backIcons a:first-child {
  background-color: #1e3044;
}

header #backIcons a:last-child {
  padding: 0;
}

header #backIcons a img {
  vertical-align: text-bottom;
  margin-right: 5px;
  position: relative;
}
