* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #05182f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header #frontIcons a {
  padding: 13px;
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

header #frontIcons a:first-child {
  background-color: #1e3044;
}

header #backIcons a:first-child {
  background-color: #1e3044;
  padding: 12px;
}
